extends ../layouts/layout

block content
  h1 Listing shares

  table
    thead
      tr
        each n in ['content','topic_id','user_id']
          th #{n}
        th(colspan="3")
    tbody
      each share in shares
        tr
          each n in ['share.content','share.topic_id','share.user_id']
            td #{ eval(n) }
          td 
            a(href='/shares/#{ share._id}') Show
          td 
            a(href='/shares/#{ share._id}/edit') Edit
          td 
            a(onclick="click_del('/shares/#{ share._id}/')") Delete

  br

  p 
    a(href='/shares/new') New Share
